doctype html
html(lang='ko')
  head
    title= pageTitle
    //- script(src='src/test.js')
    script(src='dist/uiSlide.js')
    style.
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
        }

        .slideNormal {
            height: 300px;
        }

        .slideNormal.fixed li {
            position: static;
        }

        .slideNormal.fixed li span {
            color: #fff;
            border-color: #fff;
            background: #333;
        }

        .slideNormal ul {
            height: 100%;
            margin: 0;
        }

        .slideNormal li {
            position: relative;
            height: 100%;
        }

        .slideNormal.width3loopfixed li {
            padding: 0 5%;
            box-sizing: border-box;
        }

        .slideNormal li span {
            position: absolute;
            top: 50%;
            left: 50px;
            width: 100px;
            height: 100px;
            margin-top: -50px;
            line-height: 100px;
            text-align: center;
            border: 5px double #333;
            transition: 1s;
            background: #fff;
        }

        .slideNormal button {
            z-index: 3;
            position: absolute;
            top: 50%;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            font-size: 20px;
            color: #333;
            border: none;
            text-indent: -9999px;
            background: rgba(255, 255, 255, .3);
        }

        .slideNormal button:before {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -13px -4px;
            text-indent: 0;
            content: "";
        }

        .slideNormal .leftBtn {
            left: 0;
        }

        .slideNormal .leftBtn:before {
            content: "<";
        }

        .slideNormal .rightBtn {
            right: 0;
        }

        .slideNormal .rightBtn:before {
            content: ">";
        }

        .slideNormal .indicator {
            z-index: 3;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
        }

        .slideNormal .indicator i {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 2px;
            border-radius: 50%;
            border: 1px solid #fff;
        }

        .slideNormal .indicator .current {
            background: #fff;
        }

  body
    h1 uiSlide demo page
    h2 normal & loop & fixed & indicator
    .slideNormal.loopfixed
        ul
            -for(var i = 0; i < 10; i++)
                li
                    //- img(src='https://dummyimage.com/300x400/000000/fff&text=image' + [i+1])
                    img(src='data/img/sampleimg' + [i+1] + '.jpg')
                    -if(i > 2 && i < 6) 
                     span= 'fixed info' + i 
                    -else
                     span= 'unfixed info' + i 

    script.
        var a = new uiSlide('.loopfixed', {
            width: '100%',
            autoTime: 2600,
            fixed: [1, 2, 4, 5],
            loop: true
        });
    h2 normal & unloop & unfixed & non indicator & no button
    .slideNormal.unloopunfixed
        ul
            -for(var i = 0; i < 10; i++)
                li
                    //- img(src='https://dummyimage.com/300x400/000000/fff&text=image' + [i+1])
                    img(src='data/img/sampleimg' + [i+1] + '.jpg')
                    -if(i > 2 && i < 6) 
                     span= 'fixed info' + i 
                    -else
                     span= 'unfixed info' + i 

    script.
        var b = new uiSlide('.unloopunfixed', {
            width: '100%',
            indicator: false,
            button: false
        });
    h2 width: 1/3 && loop & fixed
    .slideNormal.width3loopfixed
        ul
            -for(var i = 0; i < 10; i++)
                li
                    //- img(src='https://dummyimage.com/300x400/000000/fff&text=image' + [i+1])
                    img(src='data/img/sampleimg' + [i+1] + '.jpg')
                    -if(i > 2 && i < 6) 
                     span= 'fixed info' + i 
                    -else
                     span= 'unfixed info' + i 

    script.
        var c = new uiSlide('.width3loopfixed', {
            width: 'calc(100% / 3)',
            loop: true,
            autoTime: 3000,
            fixed: [5, 8]
        });