doctype html
html(lang='ko')
    head
        title= pageTitle
        script(src='src/test.js')
        //- script(src='dist/uiSlide.js')
        link(href='demo/demo.css',rel="stylesheet",type="text/css")
        

    body
        .wrap
            h1 uiSlide demo page
            h2 
                a(href='https://github.com/uiwwnw/uislide') github
            h2 normal & loop & fixed & indicator
            .slideNormal.loopfixed
                ul
                    -for(var i = 0; i < 10; i++)
                        li
                            img(src='https://raw.githubusercontent.com/uiwwnw/uislide/master/data/img/sampleimg' + [i+1] + '.jpg')
                            //- img(src='data/img/sampleimg' + [i+1] + '.jpg')
                            -if(i === 1 || i === 2 || i === 4 || i === 5) 
                                span= 'fixed info' + [i+1]
                            -else
                                span= 'unfixed info' + [i+1]

            h2 normal & unloop & unfixed & non indicator & no button
            .slideNormal.unloopunfixed
                ul
                    -for(var i = 0; i < 10; i++)
                        li
                            img(src='https://raw.githubusercontent.com/uiwwnw/uislide/master/data/img/sampleimg' + [i+1] + '.jpg')
                            //- img(src='data/img/sampleimg' + [i+1] + '.jpg')
                            span= 'unfixed info' + [i+1] 

            h2 width: 1/3 && loop & fixed
            .slideNormal.width3loopfixed
                ul
                    -for(var i = 0; i < 10; i++)
                        li
                            img(src='https://raw.githubusercontent.com/uiwwnw/uislide/master/data/img/sampleimg' + [i+1] + '.jpg')
                            //- img(src='data/img/sampleimg' + [i+1] + '.jpg')
                            -if(i === 5 || i === 8) 
                                span= 'fixed info' + [i+1]
                            -else
                                span= 'unfixed info' + [i+1]
            h2 width: 1/3 && loop & fixed  && slideEa 3
            .slideNormal.width3loopfixed3
                ul
                    -for(var i = 0; i < 10; i++)
                        li
                            img(src='https://raw.githubusercontent.com/uiwwnw/uislide/master/data/img/sampleimg' + [i+1] + '.jpg')
                            //- img(src='data/img/sampleimg' + [i+1] + '.jpg')
                            -if(i === 5 || i === 8) 
                                span= 'fixed info' + [i+1]
                            -else
                                span= 'unfixed info' + [i+1]
        script(src='demo/demo.js')